<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ProgramTitle" value="Sistem Pengurusan Aset Alih dan Inventori"/>
    <add key="AlertSoundFileName" value="WindowsLogon.wav"/>
    <add key="OrgId" value="1"/>
    <add key="ErrorMessageStaringSentenceDBError" value="Sistem telah menghadapi masalah teknikal (DB returned error).BRMasalah:"/>
    <add key="ErrorMessageStaringSentenceCaughtByExceptions" value="Sistem telah menghadapi masalah teknikal (Caught by exceptions).BRMasalah:"/>
    <add key="QrCodeLocation" value="~/Aset/Barcodes/"/>
    <add key="SystemLogoLocation" value="~/Public/Images/Logo/"/>
    <add key="EmailXmlFilePath" value="~/App_Data/Xml/EmailXML.xml"/>
    <add key="SagaXmlFilePath" value="~/App_Data/Xml/SAGA.xml"/>
    <add key="SagaCommandXmlFilePath" value="~/App_Data/Xml/SAGAselectCmd.xml"/>
    <add key="SmpXmlFilePath" value="~/App_Data/Xml/SMP.xml"/>
    <add key="DocumentUploadPath" value="D:\DocUpload"/>
    <add key="ImageUploadFolder" value="~/Public/ImagesUpload/"/>
    <add key="SystemUsersImageFolder" value="~/Upload/SystemUsers/"/>
    <add key="ClientName" value="Universiti Pertahanan Nasional Malaysia"/>
    <add key="Version" value="1"/>
    <add key="BackgroundImageFileName" value="StartBackground.jpg"/>
    <add key="PR_GST_Based_On_CurrPtj" value="true"/>
    <add key="PR_VOT_Based_On_CurrPtj" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="AMS_MasterConnectionString" connectionString="Data Source=FAKHRUL-PC;Initial Catalog=AMS_Master;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="AMS_AuditConnectionString" connectionString="Data Source=FAKHRUL-PC;Initial Catalog=AMS_Audit;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="AMS_TransactionConnectionString" connectionString="Data Source=FAKHRUL-PC;Initial Catalog=AMS_Transaction;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="AMS_DBConnectionString" connectionString="Data Source=FAKHRUL-PC;Initial Catalog=AMS_DB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="AMS_AttachmentsConnectionString" connectionString="Data Source=FAKHRUL-PC;Initial Catalog=AMS_Attachments;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="AMS_StockConnectionString" connectionString="Data Source=FAKHRUL-PC;Initial Catalog=AMS_Stock;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="AMS_SAGAConnectionString" connectionString="Data Source=FAKHRUL-PC;Initial Catalog=AMS_SAGA;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="AsmDbConnectionString" connectionString="Data Source=FAKHRUL-PC;Initial Catalog=AsmDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Printing.v14.2.Core, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.RichEdit.v14.2.Core, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.Web.ASPxThemes.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxSpellChecker.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Office.v14.2.Core, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.SpellChecker.v14.2.Core, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v14.2.Web, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxScheduler.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="VerifikasiPengguna/LogMasuk/Index.aspx" defaultUrl="LamanUtama/Index.aspx" timeout="240" protection="All"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="LamanUtama/Index.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Office2010Blue" customThemeAssemblies=""/>
    <!--<themes enableThemesAssembly="true" styleSheetTheme="" theme="SP2010Blue" customThemeAssemblies="SPThemeAssembly" />-->
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <location path="Public">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="VerifikasiPengguna">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Webform1.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Utility">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Shared">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>